:root {
  /*colors*/
  --color-white: #ffffff;
  --color-gray: #4a5568;
  --color-light: #e2e8f0;
  --color-dark: #1a202c;
  --color-primary: #4299e1;
  --color-mainBackground: linear-gradient(to top, #1e3a8a, #2b6cb0, #63b3ed);
  --color-tagBackground: linear-gradient(to bottom, #ecc94b, #d69e2e);
  --color-accent: #f56565;
  --color-error: #e53e3e;
  --color-imageBackground: linear-gradient(90deg, #68d391, #48bb78);

  /*font*/
  --font-medium: 18px;
  --font-large: 22px;
  --font-small: 14px;

  /*shadow*/
  --shadow-regular: 0px 4px 10px 4px #a0aec0;
  --shadow-medium: 0 9px 47px 11px rgba(74, 85, 104, 0.18);
  --shadow-small: 0 5px 7px -1px rgba(74, 85, 104, 0.23);

  /*animation*/
  --animation-cubicBezier: 0.3s cubic-bezier(0.7, 0.98, 0.86, 0.98);
}
