.input {
  display: block;
  width: 320px;
  height: 50px;

  margin: 0 auto;
  margin-bottom: 50px;

  padding: 10px;

  font-size: 16px;
  letter-spacing: 0.06em;
  color: var(--color-dark);
  font-weight: 400;

  transition: all 0.5s ease-in-out;

  cursor: text;

  border-style: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.input::placeholder {
  color: var(--color-dark);
  opacity: 0.3;
}
.input:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.input:focus {
  background-color: rgba(255, 255, 255, 0.8);
}
